.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;

    
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    color: #FFF;
    margin-right: 1em;
    text-decoration: none;
    }

.logo{
    margin-right: auto;
    size: 10%;
}



.navlink{
    display: flex;
    list-style: none;
    align-items: center;
    color: #FFF;
    margin-right: 1em;
    text-decoration: none;
}

.navlink:hover{
    color: #FFBB33;

}